SERVER_PORT=8000
LOG_LEVEL=DEBUG
DEBUG=True

LANGUAGE="en_US"

FIRST_SUPERUSER_EMAIL=
FIRST_SUPERUSER_PASSWORD=

# database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=auth-microservice-db

# redis
REDIS_HOST=localhost
REDIS_PORT=6379

# aws cognito

AWS_REGION=eu-central-1

COGNITO_AWS_ACCESS_KEY=
COGNITO_AWS_SECRET_ACCESS_KEY=

USER_POOL_ID=

USER_POOL_CLIENT_ID=
USER_POOL_CLIENT_ID_SECRET=

USER_POOL_SECRET_KEY=
USER_POOL_SECRET_ACCESS_KEY=

ENCRYPTION_KEY=