DEBUG=True
ECHO_QUERY=True

# database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DB=selene-drive

START_POSITION=[0,0]
START_DIRECTION=NORTH

INITIAL_OBSTACLES=[[5,5], [10,10]]
